body {
  color: #fff;
}



h1 {
  font-size: 50px;
  margin: 20px;
}

h2{
  font-size: 30px;
  margin-bottom: 10px;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 300;
  font-size: 18px;
}

.main-content {
  margin-top: 80px;
  text-align: center;
}

.box {
  background: #27292e;
  border-radius: 15px;
  margin: 10px 200px;
  padding: 10px;
  padding-left: 47px;
  padding-right: 47px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#title {
  background: #27292e;
  border: none;
  padding: 15px 20px;
  width: 50vw;
  color: #1cd96a;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
  transition: 300ms;
  outline: 1px solid #495057;
  font-size: 16px;
}

#icon {
  background: #27292e;
  border: none;
  padding: 15px 20px;
  width: 50vw;
  color: #1cd96a;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
  transition: 300ms;
  outline: 1px solid #495057;
  font-size: 16px;
}

::placeholder {
  color: #fff;
  font-size: 16px;
}

@media screen and (max-width: 1000px) {
  .box {
    margin: 10px 100px;
  }
}

@media screen and (max-width: 800px) {
  .box {
    margin: 10px 50px;
  }
}

table {
  text-align: center;
  line-height: 1.7;
  border-collapse: collapse;
  width: 100%;
}

th {
  width: 33.33%;
}

@media (width: 600px) {
  table th, table td {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  table th {
    text-align: center;
  }
}

.url-button {
  color: #fff;
  background: #27292e;
  border: 0px;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 300ms;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
  outline: 1px solid #495057;
}

.url-button:hover {
  transform: scale(0.95)
}

.selected-url {
  outline: 3px solid #495057;
}

kbd {
  font-family: Arial, sans-serif;
  background-color: #27292e;
  border: 1px solid #495057;
  padding: 5px 10px;
  border-radius: 3px;
}