.footer {
  background: #27292e;
  border-radius: 10px;
  color: #fff;
  margin: 10px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 20px;
}

.footer h1 {
  font-size: 50px;
  margin: 20px;
}

.footer h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.footer h3 {
  font-weight: 300;
  font-size: 24px;
  margin-bottom: 10px;
}

.footer h4 {
  font-weight: 300;
  font-size: 18px;
}
