.footer {
  background: var(--default);
  color: #000;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: center;
}