.footer {
  background: #393f44;
  border-radius: 15px;
  color: #fff;
  margin: 20px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  text-align: center;
}