.footer {
  background: #27292e;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.footer-logo {
  display: flex;
}

.footer-logo-image {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.footer ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  margin: 20px;
}


