* {
  font-family: 'Inter';
}

.main-content {
  color: #fff;
  margin-top: 80px;
}

.center {
  gap: 10px;
  align-items: center;
  justify-content: center;
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-flow: row;
  margin-bottom: 10px;
  text-align: center;
}

.input-div {
  text-align: center;
}

input {
  background: #27292e;
  border: none;
  padding: 15px 20px;
  width: 50vw;
  color: #fff;
  text-align: center;
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
  transition: 300ms;
  outline: none;
}

input:focus {
  outline: 3px solid #1cd96a;
}

::placeholder {
  color: #fff;
  font-size: 16px;
}

.game-card {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  border: 3px solid transparent;
}

.game-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-color: #1cd96a;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding-bottom: 3px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.game-card .title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 0;
  display: none;
  transition: all 300ms;
}

.game-card:hover .title {
  display: block;
}

.box {
  color: #fff;
  text-align: center;
  background: #27292e;
  padding: 5px;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
}

.box a {
  text-decoration-style: solid;
  text-decoration-color: #fff;
  color: #fff;
}

