* {
  font-family: 'Inter';
}

h4 {
  font-weight: 300;
  font-size: 18px;
}

.main-content {
  color: #fff;
  margin-top: 90px;
  text-align: center;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.7;
  margin: 0px 100px;
}

.input-div {
  text-align: center;
  margin: 10px 0px;
}

input {
  background: #1f2228;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  width: 50vw;
  color: #fff;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
  transition: 500ms;
  outline: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

::placeholder {
  color: #757575;
  font-size: 16px;
}

.game-card {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  border: 3px solid transparent;
  display: block;
  margin: 15px;
}

.game-card:hover {
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-color: var(--default);
}

.game-card:active{
  transform: scale(1);
  border-color: transparent;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding-bottom: 3px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.game-card .title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 0;
  display: none;
  transition: all 300ms !important;
}

.game-card:hover .title {
  display: block;
  transition: all 300ms !important;
}

.fa-star {
  position: absolute;
  display: inline-block;
  padding: 5px;
  color: #ffff00;
  text-align: center;
  font-size: 20px;
  background: #000;
  border-radius: 16px;
  top: 8px;
  right: 8px;
  z-index: 9996;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.box {
  color: #fff;
  text-align: center;
  background: #1f2228;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
}

.box a {
  text-decoration-style: solid;
  text-decoration-color: #fff;
  color: #fff;
}

kbd {
  font-family: Arial, sans-serif;
  background-color: #1f2228;
  border: 1px solid #495057;
  padding: 5px 10px;
  border-radius: 3px;
}

#randomText {
  margin: 25px 0px;
}