* {
  font-family: 'Inter';
}

.main-content {
  color: #fff;
  margin-top: 80px;
  text-align: center;
}

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.7;
}

.input-div {
  text-align: center;
  margin: 10px 0px;
}

input {
  background: #27292e;
  border: none;
  padding: 15px 20px;
  font-size: 16px;
  width: 50vw;
  color: #fff;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
  transition: 300ms;
  outline: 1px solid #495057;
}

::placeholder {
  color: #fff;
  font-size: 16px;
}

#randomGameButton {
  color: #fff;
  background: #27292e;
  border: 0px;
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 10px;
  transition: all 300ms;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
  outline: 1px solid #495057;
}

#randomGameButton:hover {
  transform: scale(0.95)
}

.game-card {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  transition: all 300ms;
  border: 3px solid transparent;
  display: block;
  margin: 5px;
}

.game-card:hover {
  transform: scale(1.05);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-color: #1cd96a;
}

.game-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.game-card .content {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  padding-bottom: 3px;
  height: auto;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6));
}

.game-card .title {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin: 0;
  display: none;
  transition: all 300ms;
}

.game-card:hover .title {
  display: block;
}

.box {
  color: #fff;
  text-align: center;
  background: #27292e;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-decoration-style: solid;
  text-decoration-color: #fff;
}

.box a {
  text-decoration-style: solid;
  text-decoration-color: #fff;
  color: #fff;
}

@media screen and (max-width: 1400px) {
  .center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.7;
  }

  .game-card {
    width: 180px;
    height: 180px;
    border-radius: 35px;
    overflow: hidden;
    margin: 5px;
    position: relative;
    transition: all 300ms;
    border: 3px solid transparent;
  }
}

kbd {
  font-family: Arial, sans-serif;
  background-color: #27292e;
  border: 1px solid #495057;
  padding: 5px 10px;
  border-radius: 3px;
}